
body {
  background-color: black;
  list-style: none;
  font-family: Bitter;
  font-size: 20px;
}
body li {
  list-style: none;
}
.imagemod img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-custom {
  background-color: black;
}

a {
  font-family: Barlow Condensed;
  color: white;
}

a:hover {
  font-family: Barlow Condensed;
  color: grey;
}

.darklinks a {
  font-family: Barlow Condensed;
  color: black;
}
.darklinks a:hover {
  font-family: Barlow Condensed;
  color: grey;
}

h1 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h2 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h3 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h4 {
  font-family: 'Bitter', sans-serif;
}

p {
  font-family: 'Bitter', serif;
  font-size: 16px;
}
.inlineHeading {
  font-size: 24px;
  font-weight: bold;
  font-family: Bitter;
}


.projectBoxes {
  list-style: none;
  color: white;
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.navbar .navbar-text a {
  color: black;
}

.navbar .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link .white {
  color: white;
}

.boxColors li:nth-child(2) {
  background-color: #46B29D;
}

.boxColors li:nth-child(3) {
  background-color: #F0CA4D;
}

.boxColors li:nth-child(4) {
  background-color: #F53855;
}

.boxColors li:nth-child(5) {
  background-color: #F53855;
}

.navbar-custom .dropdown-menu {
  background-color: black;
  border-radius: 0;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: white;
  background-color: rgba(255, 255, 255, .5);
}

.textlinks {
  padding-right: 20px;
}


.smallImage {
  width: 100px;
}

.profileImage {
  width: 100%;
}


/* new gallery css below */
#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding: 0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;

}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}
@media (max-width: 9000px) {
    #rig li {
        width:33.33%;
    }
}


@media (max-width: 1400px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 800px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 500px) {
    #rig li {
        width:100%;
    }
}
