
body {
  background-color: white;
  list-style: none;
  font-family: Bitter;
  font-size: 20px;
}
body li {
  list-style: none;
}
.imagemod img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-custom {
  background-color: black;
}

a {
  font-family: Barlow Condensed;
  color: white;
}

a:hover {
  font-family: Barlow Condensed;
  color: grey;
}

.darklinks a {
  font-family: Barlow Condensed;
  color: black;
}
.darklinks a:hover {
  font-family: Barlow Condensed;
  color: grey;
}

h1 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h2 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h3 {
  font-family: 'Bitter', sans-serif;
    font-weight: bold;
}

h4 {
  font-family: 'Bitter', sans-serif;
}

p {
  font-family: 'Bitter', serif;
  font-size: 16px;
}
.inlineHeading {
  font-size: 24px;
  font-weight: bold;
  font-family: Bitter;
}


.projectBoxes {
  list-style: none;
  color: white;
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.navbar .navbar-text a {
  color: black;
}

.navbar .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link .white {
  color: white;
}

.boxColors li:nth-child(2) {
  background-color: #46B29D;
}

.boxColors li:nth-child(3) {
  background-color: #F0CA4D;
}

.boxColors li:nth-child(4) {
  background-color: #F53855;
}

.boxColors li:nth-child(5) {
  background-color: #F53855;
}

.navbar-custom .dropdown-menu {
  background-color: black;
  border-radius: 0;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: white;
  background-color: rgba(255, 255, 255, .5);
}

.textlinks {
  padding-right: 20px;
}


.smallImage {
  width: 100px;
}

.profileImage {
  width: 100%;
}

}
.formWrapper {
 position: relative;
 padding-bottom: 0;
 /* 16:9 */
 padding-top: 0;
 height: 90vh;
 overflow: scroll;
 width: 100%;
 }
 .formWrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
 height: 75%;
  }
 @media(max-width:700px) {
  .formWrapper {
   position: relative;
   padding-bottom: 50px;
   /* 16:9 */
   padding-top: 0;
   height: 90vh;
   overflow: scroll;
   width: 100%;
   }
   .formWrapper iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
   height: 75%;
    }
}

 @media(min-width:1600px) {
   .formWrapper {
    position: relative;
    padding-bottom: 0;
    /* 16:9 */
    padding-top: 0;
    height: 0;
    overflow: scroll;
    width: 100%;
    }

    .formWrapper iframe {
     position: relative;
     top: -60px;
     left: 0;
     width: 100%;
    height: 75%;
     }
 }
