body {
  background-color: white;
  list-style: none;
  font-family: barlow condensed;
}
body li {
  list-style: none;
}

.imagemod img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-custom {
  background-color: black;
}

a {
  font-family: barlow condensed;
  color: white;
}

a:hover {
  font-family: barlow condensed;
  color: grey;
}

.darklinks a {
  font-family: barlow condensed;
  color: black;
}
.darklinks a:hover {
  font-family: barlow condensed;
  color: grey;
}

h1 {
  font-family: 'barlow condensed', sans-serif;
}

h2 {
  font-family: 'barlow condensed', sans-serif;
}

h3 {
  font-family: 'barlow condensed', sans-serif;
}

h4 {
  font-family: 'barlow condensed', sans-serif;
}

p {
  font-family: 'adamina', serif;
}

#largeImage {
  padding: 200px 25px;
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10%, #000000 100%), url(/assets/img/wingsuits/29_X3_OrangeYellowBlack-min.jpg) no-repeat left top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.description-box {
  width: 40%;
}

.description-box h1 {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-weight: 700;
  font-size: 60px;
  color: white;
}

.description-box h3 {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.description-box h4 {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  ;
  color: white;
  font-weight: 100;
}

.description-box p {
  font-family: 'Barlow Condensed', sans-serif;
  ;
  font-weight: 300;
  margin: 25px 0 25 0;
  color: white;
}

.projectBoxes {
  list-style: none;
  color: white;
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.navbar .navbar-text a {
  color: black;
}

.navbar .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link .white {
  color: white;
}

.boxColors li:nth-child(2) {
  background-color: #46B29D;
}

.boxColors li:nth-child(3) {
  background-color: #F0CA4D;
}

.boxColors li:nth-child(4) {
  background-color: #F53855;
}

.boxColors li:nth-child(5) {
  background-color: #F53855;
}

.navbar-custom .dropdown-menu {
  background-color: black;
  border-radius: 0;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover, .navbar-custom .dropdown-item:focus {
  color: white;
  background-color: rgba(255, 255, 255, .5);
}

.textlinks {
  padding-right: 20px;
}

.gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -ms-column-count: 2;
  margin: 10px;
  transition: scale 2s ease-in;
}

.wingsuitColumn img:not(.profileImage) {
  width: 100px;
  padding: 10px;
  margin: 5px;
}

.smallImage {
  width: 100px;
}

.wingsuitColumn img:focus {
  width: 300px;
  outline: none;
}
.profileImage {
  width: 40%;
  padding: 20px 20px 20px 0;
}

/* .gallery img:hover:not(.mainImage) {
  width: 100%;
} */
/* @media (min-width: 501px) and (max-width: 1000px) {
  .profileImage {
    width: 100%;
    padding: 10px 10px 10px 0;
  }
}

@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -ms-column-count: 1;
  }
  .gallery img {
    width: 100%;
  }
  .gallery h1 {
    margin-top: 20px;
  }
  img:focus {
    width: 400px;
  }
} */
@media (min-width:500px) {
  body {
    margin-top: -30px;
  }
}
